// ** DEFINING color variables ** //
// level-1 heading and clicked question's color
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
// hover color
$soft-red: hsl(14, 88%, 65%);
// question's color
$very-dark-grayish-blue: hsl(237, 12%, 33%);
// answer's color
$dark-grayish-blue: hsl(240, 6%, 50%);
// the background gradient
$bg-gradient: hsl(267, 74%, 65%), hsl(240, 73%, 65%);